body {
  font-family: "Roboto", sans-serif;
  background: #F6F6F6;
  animation: fadeIn 0.9s ease-in-out;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  height: 63px;
}
.logo__img {
  width: 162px;
}
@media (min-width: 1440px) {
  .logo {
    height: 96px;
  }
  .logo__img {
    width: 200px;
  }
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #EAEAEA;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  gap: 17px;
  color: #353535;
}
.location p {
  font-size: 16px;
  font-weight: 500;
}
@media (min-width: 1440px) {
  .location {
    box-shadow: none;
  }
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.hero h1 {
  margin-top: 39px;
  font-size: 24px;
  font-weight: 700;
  width: 275px;
}
.hero p {
  width: 315px;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 300;
}
.hero button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 27px;
  width: 218px;
  height: 46px;
  border-radius: 25px;
  background: linear-gradient(0.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  margin-bottom: 57px;
  transition-duration: 500ms;
}
.hero button:hover {
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%), linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3490196078);
}
@media (min-width: 1440px) {
  .hero h1 {
    width: 645px;
    margin-top: 45px;
    font-size: 40px;
  }
  .hero p {
    margin-top: 25px;
    width: 531px;
  }
  .hero button {
    margin-top: 28px;
    margin-right: 20px;
    width: 218px;
    height: 50px;
    margin-bottom: 30px;
  }
}

.steps {
  background: white;
}
.steps .container {
  width: 335px;
  margin: 0 auto;
  padding-top: 48px;
}
.steps .container h2 {
  font-weight: 700;
  font-size: 24px;
}
.steps .container .flex {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 26px;
  padding-bottom: 68px;
}
.steps .container .flex .step {
  display: flex;
  align-items: center;
  width: 322.49px;
  height: 72.38px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  background-color: #F6F6F6;
}
.steps .container .flex .step i {
  margin-left: 34px;
  color: #7E7E7E;
  font-size: 20px;
}
.steps .container .flex .step .active {
  color: #9356DC;
}
.steps .container .flex .step p {
  margin-left: 27px;
  font-weight: 500;
  font-size: 16px;
}
.steps .container .flex .step .number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #9356DC;
  color: white;
  font-size: 14px;
  font-weight: 500;
  margin-left: -12px;
}
@media (min-width: 768px) {
  .steps .container {
    width: 668px;
  }
  .steps .container .flex {
    flex-direction: row;
  }
  .steps .container .flex .step i {
    font-size: 24px;
    margin-left: 10px;
  }
  .steps .container .flex .step p {
    margin-left: 20px;
    line-height: 18px;
  }
  .steps .container .flex .step .number {
    min-width: 24px;
    min-height: 24px;
  }
}
@media (min-width: 1440px) {
  .steps .container {
    width: 1053px;
  }
  .steps .container .flex {
    flex-direction: row;
    gap: 45px;
  }
  .steps .container .flex .step .number {
    width: 24px;
    height: 24px;
  }
}

.restaurants {
  width: 335px;
  margin: 0 auto;
  padding-top: 54px;
  max-width: 1280px;
}
.restaurants h2 {
  font-weight: 700;
  font-size: 24px;
}
.restaurants .cards {
  display: flex;
  flex-direction: column;
  gap: 18px;
  row-gap: 18px;
  margin-top: 25px;
}
.restaurants .cards .card {
  border-radius: 15px;
  background: white;
}
.restaurants .cards .card .menu {
  text-decoration: none;
}
.restaurants .cards .card .menu .picture {
  position: relative;
}
.restaurants .cards .card .menu .picture .new {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 29px;
  width: 80px;
  font-size: 14px;
  font-weight: 500;
  background-color: #99E2D0;
  color: #008766;
  top: 13px;
  right: 10px;
}
.restaurants .cards .card .menu .picture img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 231px;
  width: 100%;
  background-color: transparent;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurants .cards .card .menu .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.restaurants .cards .card .menu .bottom .left {
  margin-left: 13px;
}
.restaurants .cards .card .menu .bottom .left .title {
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  color: black;
  margin-top: 16px;
}
.restaurants .cards .card .menu .bottom .left .info {
  margin-top: 5px;
  font-weight: 300;
  font-size: 17px;
  margin-bottom: 12px;
  color: black;
}
.restaurants .cards .card .menu .bottom .right {
  margin-right: 25px;
  font-size: 22px;
  color: black;
}
@media (min-width: 768px) {
  .restaurants {
    width: 668px;
    display: grid;
  }
  .restaurants .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1440px) {
  .restaurants {
    display: grid;
    width: 1440px;
  }
  .restaurants .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px 100px;
  }
}

.footer {
  margin-top: 66px;
  background-color: #353535;
  padding: 0 32px 16px 32px;
  color: white;
}
.footer h4 {
  font-family: "Shrikhand", serif;
  font-style: italic;
  padding-top: 24px;
  padding-bottom: 16px;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 6px;
}
.footer .list {
  display: flex;
  padding-top: 10px;
}
.footer .list a {
  text-decoration: none;
  color: white;
}
.footer .text1 {
  padding-left: 11px;
}
.footer .text2 {
  padding-left: 5px;
}
@media (min-width: 1440px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .footer ul {
    display: flex;
  }
  .footer h4 {
    margin-left: 120px;
    padding-top: 32px;
  }
  .footer .list:nth-child(2) {
    margin-right: 40px;
    margin-left: 10px;
  }
  .footer .list:nth-child(4) {
    margin-left: 10px;
  }
}/*# sourceMappingURL=main.css.map */