body {
    font-family: "Roboto", sans-serif;
    background: #F6F6F6;
}

$Primary: #9356DC;
$Secondary: #FF79DA;
$Tertiary: #99E2D0;

@mixin desktop {
    @media (min-width: 1440px) {
        @content;
    }
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    @include flex-center();
    background: white;
    height: 63px;

    &__img {
        width: 162px;
    }

    // Desktop 
    @include desktop {
        height: 96px;

        &__img {
            width: 200px;
        }

    }
}

.location {
    @include flex-center();
    background: #EAEAEA;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    gap: 17px;
    color: #353535;

    p {
        font-size: 16px;
        font-weight: 500;
    }

    @include desktop {
        box-shadow: none;
    }
}

.hero {
    @include flex-center();
    flex-direction: column;
    text-align: center;

    h1 {
        margin-top: 39px;
        font-size: 24px;
        font-weight: 700;
        width: 275px;

    }

    p {
        width: 315px;
        margin-top: 10px;
        font-size: 18px;
        font-weight: 300;
    }

    button {
        @include flex-center();
        margin-top: 27px;
        width: 218px;
        height: 46px;
        border-radius: 25px;
        background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
        color: white;
        border: none;
        cursor: pointer;
        font-weight: 500;
        font-size: 16px;
        box-shadow: 0px 4px 10px 0px #00000040;
        margin-bottom: 57px;
    }

    @include desktop {
        h1 {
            width: 645px;
            margin-top: 45px;
            font-size: 40px;
        }

        p {
            margin-top: 25px;
            width: 531px;
        }

        button {
            margin-top: 28px;
            width: 218px;
            height: 50px;
            margin-bottom: 30px;
        }
    }
}