body {
    font-family: "Roboto", sans-serif;
    background: #F6F6F6;
    animation: fadeIn 0.9s ease-in-out;

    body {
        margin: 0;
        height: 100vh;
        overflow: hidden;
    }

    .content {
        display: none;
    }

    .loader-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        z-index: 999;
        animation: fadeout 1s forwards;
        animation-delay: 1s;
    }

    .loader {
        color: #FF79DA;
    }

    .loader,
    .loader:after {
        box-sizing: border-box;
    }

    .loader {
        display: inline-block;
        width: 80px;
        height: 80px;
    }

    .loader:after {
        content: " ";
        display: block;
        width: 64px;
        height: 64px;
        margin: 8px;
        border-radius: 50%;
        border: 6.4px solid currentColor;
        border-color: currentColor transparent currentColor transparent;
        animation: loader 1.2s linear infinite;
    }

    @keyframes loader {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    @keyframes fadeout {
        to {
            opacity: 0;
            visibility: hidden;
        }
    }

    .loader-container+.content {
        animation: showContent 1s forwards;
        animation-delay: 4s;

    }

    @keyframes showContent {
        to {
            display: block;
            opacity: 1;
        }
    }


}


$Primary: #9356DC;
$Secondary: #FF79DA;
$Tertiary: #99E2D0;

@mixin tablet {
    @media (min-width: 768px) {
        @content;
    }
}


@mixin desktop {
    @media (min-width: 1440px) {
        @content;
    }
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    @include flex-center();
    background: white;
    height: 63px;
    gap: 42px;
    position: relative;

    &__img {
        width: 162px;
    }

    .arrow {
        @include flex-center();
        position: absolute;
        width: 100px;
        height: 100%;
        left: 0;
        top: 0;

        i {
            font-size: 22px;
            color: #000;
        }
    }

    // Desktop 
    @include desktop {
        height: 96px;

        &__img {
            width: 200px;
        }

    }
}



.heart-checkbox {
    z-index: 50;

    input[type="checkbox"] {
        display: none;

        &:checked+label {
            &:before {
                display: none;
            }

            &:after {
                font-family: "Font Awesome 5 Free";
                content: '\f004';
                font-weight: 900;
                background: linear-gradient(#9356DC, #FF79DA);
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }

    input[type="checkbox"]+label {
        &:before {
            font-family: "Font Awesome 5 Free";
            content: '\f004';
        }
    }
}

.location {
    @include flex-center();
    background: #EAEAEA;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    gap: 17px;
    color: #353535;

    p {
        font-size: 16px;
        font-weight: 500;
    }

    @include desktop {
        box-shadow: none;
    }
}

.gradient-button {
    @include flex-center();
    border: none;
    background-color: #999;
    background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
    box-shadow: 0 4px 8px 5px rgba(0, 0, 0, .07);
    box-shadow: 0 4px 8px 5px rgba(0, 0, 0, .07);
    color: #fff;
    padding: 15.5px 22px;
    border-radius: 50px;
    transition: 300ms;
    transition-duration: 250ms;
    font-weight: 500;
    font-size: 15px;
    margin-top: 27px;
    margin-bottom: 57px;
    cursor: pointer;

    &:hover {
        background-color: #fff;
        box-shadow: 0 4px 8px 5px rgba(0, 0, 0, .1)
    }

}


.hero {
    @include flex-center();
    flex-direction: column;
    text-align: center;

    h1 {
        margin-top: 39px;
        font-size: 24px;
        font-weight: 700;
        width: 275px;

    }

    p {
        width: 315px;
        margin-top: 10px;
        font-size: 18px;
        font-weight: 300;
    }

    @include desktop {
        h1 {
            width: 645px;
            margin-top: 45px;
            font-size: 40px;
        }

        p {
            margin-top: 25px;
            width: 531px;
        }

        button {
            margin-top: 28px;
            margin-right: 20px;
            width: 218px;
            height: 50px;
            margin-bottom: 30px;

        }
    }

}

.steps {
    background: white;

    .container {
        width: 335px;
        margin: 0 auto;
        padding-top: 48px;


        h2 {
            font-weight: 700;
            font-size: 24px;
        }

        .flex {
            display: flex;
            flex-direction: column;
            gap: 25px;
            margin-top: 26px;
            padding-bottom: 68px;

            .step {
                display: flex;
                align-items: center;
                width: 322.49px;
                height: 72.38px;
                border-radius: 20px;
                box-shadow: 0px 4px 15px 0px #00000026;
                background-color: #F6F6F6;

                i {
                    margin-left: 34px;
                    color: #7E7E7E;
                    font-size: 20px;

                }

                .active {
                    color: $Primary;
                }

                p {
                    margin-left: 27px;
                    font-weight: 500;
                    font-size: 16px;
                }

                .number {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    background: $Primary;
                    color: white;
                    font-size: 14px;
                    font-weight: 500;
                    margin-left: -12px;

                }
            }
        }
    }


    @include tablet {
        .container {
            width: 668px;

            .flex {
                flex-direction: row;

                .step {
                    i {
                        font-size: 24px;
                        margin-left: 10px;

                    }

                    p {
                        margin-left: 20px;
                        line-height: 18px;
                    }

                    .number {
                        min-width: 24px;
                        min-height: 24px;
                    }
                }
            }
        }
    }

    @include desktop {
        .container {
            width: 1053px;

            .flex {
                flex-direction: row;
                gap: 45px;

                .step {

                    .number {
                        width: 24px;
                        height: 24px;
                    }
                }

            }
        }
    }
}


@keyframes fade-in-left {
    0% {
        transform: translateX(-50px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


.restaurants {
    width: 335px;
    margin: 0 auto;
    padding-top: 54px;
    max-width: 1280px;

    h2 {
        font-weight: 700;
        font-size: 24px;
    }



    .cards {
        display: flex;
        flex-direction: column;
        gap: 18px;
        row-gap: 18px;
        margin-top: 25px;



        .card {
            border-radius: 15px;
            background: white;
            position: relative;
            animation: fade-in-left 3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation-delay: 1s;


            .menu {
                text-decoration: none;

                .picture {
                    position: relative;

                    .new {
                        @include flex-center();
                        position: absolute;
                        height: 29px;
                        width: 80px;
                        font-size: 14px;
                        font-weight: 500;
                        background-color: #99E2D0;
                        color: #008766;
                        top: 13px;
                        right: 10px;
                    }

                    img {
                        border-top-left-radius: 15px;
                        border-top-right-radius: 15px;

                        height: 231px;
                        width: 100%;
                        background-color: transparent;
                        object-fit: cover;

                    }
                }


                .bottom {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .left {
                        margin-left: 13px;

                        .title {
                            font-weight: 700;
                            font-size: 18px;
                            text-decoration: none;
                            color: black;
                            margin-top: 16px;
                        }

                        .info {
                            margin-top: 5px;
                            font-weight: 300;
                            font-size: 17px;
                            margin-bottom: 12px;
                            color: black;
                        }
                    }

                    .right {
                        margin-right: 25px;
                        font-size: 22px;
                        color: black;


                    }
                }
            }

            .heart-placement {
                font-size: 22px;
                position: absolute;
                right: 25px;
                bottom: 22px;
            }
        }

        @keyframes fadeInUp {
            from {
                opacity: 0;
                transform: translateY(20px);
            }

            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

    }

    @include tablet {
        width: 668px;
        display: grid;

        .cards {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }

    @include desktop {
        display: grid;
        width: 1440px;

        .cards {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 50px 100px
        }
    }
}

.footer {
    margin-top: 66px;
    background-color: #353535;
    padding: 0 32px 16px 32px;
    color: white;

    h4 {
        font-family: "Shrikhand", serif;
        font-style: italic;
        padding-top: 24px;
        padding-bottom: 16px;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 6px;

    }

    .list {
        display: flex;
        padding-top: 10px;

        a {
            text-decoration: none;
            color: white;
        }

    }

    .text1 {
        padding-left: 11px;
    }

    .text2 {
        padding-left: 5px;
    }

    @include desktop {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;

        ul {
            display: flex;

        }

        h4 {
            margin-left: 120px;
            padding-top: 32px;
        }

        .list:nth-child(2) {
            margin-right: 40px;
            margin-left: 10px;
        }

        .list:nth-child(4) {
            margin-left: 10px;
        }
    }
}